<!--Create course-->
<div class="row mt-4">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header text-center">
                <h2>Tạo khóa học mới</h2>
                <p> (*) : Thông tin bắt buộc </p>
            </div>
            <div class="card-body">
                <form id="formCreateCourse" action="/courses/create" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name">Tên khóa học</label>
                        <input id="name" name="name" type="text" class="form-control" placeholder="Nhập tên khóa học *">
                        <div class="d-block invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="image">Ảnh minh họa *</label>
                        <input id="image" name="image" onchange="readURL(this)" accept='image/*' type="file" class="form-control">
                        <img id="showSelection" class="w-80 rounded mx-auto my-2 d-block" />
                        <script>
                            function readURL(input) {
                                if (input.files && input.files[0]) {
                                    const reader = new FileReader();

                                    reader.onload = function (e) {
                                        $('#showSelection')
                                            .attr('src', e.target.result)
                                            .width('80%');
                                    };
                                    reader.readAsDataURL(input.files[0]);
                                }
                            }
                        </script>
                        <div class="d-block invalid-feedback"></div>
                    </div>

                    <div class="form-group">
                        <label for="shortDescription">Mô tả ngắn</label>
                        <textarea id="shortDescription" name="shortDescription" class="form-control" placeholder="Nhập mô tả ngắn *"></textarea>
                        <div class="d-block invalid-feedback"></div>
                    </div>

                    <div class="form-group">
                        <label for="description">Mô tả chi tiết</label>
                        <textarea id="description" name="description" class="form-control" placeholder="Nhập mô tả chi tiết *"></textarea>
                        <div class="d-block invalid-feedback"></div>
                    </div>

                    <div class="form-group">
                        <label for="leanWhat">Học viên sẽ học được gì ?</label>
                        <textarea id="leanWhat" name="leanWhat" class="form-control" placeholder="Nhập thông tin"></textarea>
                        <div class="d-block invalid-feedback"></div>
                    </div>

                    <div class="form-group">
                        <label for="require">Yêu cầu cần thiết để tham gia khóa học</label>
                        <textarea id="require" name="require" class="form-control" placeholder="Nhập các yêu cầu"></textarea>
                        <div class="d-block invalid-feedback"></div>
                    </div>
                    <div class="form-group text-center mt-2">
                        <button type="submit" class="btn btn-success btn-lg">Tạo khóa học mới</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<!--End Create course-->