<!--Error Section-->
<div class="row mt-5">
    <div class="col col-offset-2">
        <h1 class="error-message text-center"><%= message %></h1>
        <h2><%= error.status %></h2>
        <pre><%= error.stack %></pre>
    </div>
</div>
<!-- End Error Section -->