<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <% if (typeof title !== 'undefined' ) { %>
        <title><%- title %></title>
    <% } else { %>
        <title>untitled</title>
    <% } %>
    <meta name="description" content="Nguyễn Thọ Tuấn. Website cá nhân, chia sẻ kiến thức kinh nghiệm với Java & NodeJS. Các kiến thức cơ bản cuộc sống,...">
    <meta name="keywords" content="nttuan, ngthotuan, Nguyen Tho Tuan, Nguyễn Thọ Tuấn, nodejs, java, upload">

    <link href="/assets/img/favicon.png" rel="icon">
    <link rel="stylesheet" href="/assets/vendor/fontawesome/css/all.css">
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="/assets/css/main.css" rel="stylesheet">
</head>